{#
/**
 * @file
 * Default template for DataCite metadata XML.
 *
 * Available variables:
 * - attributes: Container attributes.
 *
 * @ingroup themeable
 */
#}
<!-- Pre tags for development only -->
<pre>
<resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
  <identifier identifierType="DOI">{{ doi }}</identifier>
  <creators>
  {% for creator in creators %}
    <creator>
      <creatorName>{{ creator }}</creatorName>
    </creator>
  {% endfor %}
  </creators>
  <titles>
    <title>{{ title }}</title>
  </titles>
  <publisher>{{ publisher }}</publisher>
  <publicationYear>{{ publication_year }}</publicationYear>
  {% if subjects and subjects|length %} 
  <subjects>
  {% for subject in subjects %}
    <subject>{{ subject }}</subject>
  {% endfor %}
  </subjects>
  {% endif %}
  {% if languages and languages|length %}
    {% for language in languages %}
    <language>{{ language }}</language>
    {% endfor %}
  {% endif %}
  <resourceType resourceTypeGeneral="{{ resource_type }}">{{ resource_type }}</resourceType>
  {% if descriptions and descriptions|length %}
  <descriptions>
    {% for description in descriptions %}
    <description descriptionType="Other">{{ description }}</description>
    {% endfor %}
  </descriptions>
  {% endif %}
</resource>
</pre>
